name: Lint Markdown files

on:
  push:
    branches-ignore:
      - "dependabot/**"
    paths:
      - ".github/workflows/cspell-problem-matcher.json"
      - ".github/workflows/lint-md.yml"
      - ".github/workflows/markdownlint-problem-matcher.json"
      - "**/*.md"
      - ".cspell.json"
      - ".markdownlint.json"
      - "package*.json"
  pull_request:
    paths:
      - ".github/workflows/cspell-problem-matcher.json"
      - ".github/workflows/lint-md.yml"
      - ".github/workflows/markdownlint-problem-matcher.json"
      - "**/*.md"
      - ".cspell.json"
      - ".markdownlint.json"
      - "package*.json"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2.1.4
        with:
          node-version: '10.x'

      - name: Cache dependencies
        uses: actions/cache@v2.1.3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - run: npm ci

      - name: Spellcheck Markdown files
        run: |
          echo "::add-matcher::.github/workflows/cspell-problem-matcher.json"
          npm run spellcheck:markdown

      - name: Run Markdownlint
        run: |
          echo "::add-matcher::.github/workflows/markdownlint-problem-matcher.json"
          npm run lint:md